<a href="https://colab.research.google.com/github/Jigyasha17/Assingments/blob/main/Assingment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types and Structures Questions

# Theory Questions
  
 *** 1.What are data structures, and why are they important?***
  
  Ans- Data structure is a way of organizing ,storing and managing data in a way that it can be efficiently used .

  Importance

1.   Eficiency: data structured allow for optimized data storage and retrieval, leading to faster program execution and reduced resource consumption.
2.   scalability: well choosen data sstructure allows for efficient manage of a large amount of data without significant performance degradation.
3. algorithm design:Data structure serve as  building block for designing algorithms,influencing overall edfficiency and effectiveness of the algorithm.

---



***2. Explain the difference between mutable and immutable data types with examples?***

 Ans-

1.   Imutable data types:objects/values which can't be altered ones assingned are called immutable


*   E.g . Tuples - Tuples can't be changed ones declared i.e no elements can be added, edited or removed ones asingned in the tuple
*   string: similar to tuples strings are also immutable data objects.



2. Mutable data types: object/ values which can be atered  after assingment.


*   List : In a list an existing element can be changed or removed as well as a new set of elements can be added to the list thus it is a mutable data type.
*  Sets: similar to lits sets are also mutable data structure except mutation cannot be done on the basis of index .
*   Dictionaries: Dictionaries are also a mutable data type except the keys.In a dictionary set of new value can be added or updated for a particular key as well as a new key-  value pair can be added or an existing one can be removed from the list.
---


***3. What are the main differences between lists and tuples in Python?***

Ans:

1.   List: collection of  ordered, mutable heterogenenou/homogeneous data elements  inside []

*   Declared using []
*   Mutable
*   Use Cases: Due to their mutability, lists are suitable for collections that need to be modified frequently.


2.   Tuples: collection of ordered immutable hetrogeneous/homogeneous data elementsinide().

*   Declared using ()
*   immutable
*   Use Cases:tuples, being immutable, are often used for collections of related items where the order matters and the collection should not be changed, such as coordinates or database records.
---

***4. Describe how dictionaries store data.***

In comparison to other data types dictionaries store data in the form of key value pairs .

1.   Key:  alpha numeric or a tuple  ,act as indexes and are immutable in nature
2.   Values: data stored inside keys , can be a list ,tuple,sets,strings or number,mutable in nature.

---

***5.Why might you use a set instead of a list in Python***

Ans- A set can be ued instead of a list because a set has a unique ability that it stores only unique values ,thus in conditions where duplicate values can't be allowed  e.g in case of adhar no.,ATM PIN in such cases sets are preffered over lists

---

***6. What is a string in Python, and how is it different from a list ?***

ANS:
 String in python can be defined as a set of characters enclosed in '...'or"...".
 1. A string is different from the list in a way that list is a type of a data structure used to store values of simiar or different  type where as a string is a data type .
 2.String is immuatbale where as a list is a mutable data structure.
 3. strings are define with the help of '...'or "..." where as a list is defined using [ ].

 ---


*** 7.How do tuples ensure data integrity in Python?**

 ANS: Tuples are immutable in nature thus ones formed can't be altered. therefore information or data stored inside tuples can't be changed ones saved preventing any false alteration which leads to scams ,thus tuples promote data intergrity.

---

 *** 8. What is a hash table, and how does it relate to dictionaries in Python? ***

 Ans-A hash table stores key value pairs. It allows for very fast retrieval of values based on their corresponding keys . This is achieved using hash function to compute an index in an array wher the value is stored.

 Dictionaries are based on the concept of hash tables , similar to hash tables dictionaries also has key value pairs used for efficient storage and retrieval.

 ---

*** 9. Can lists contain different data types in Python ? ***

ANS: yes lists can contain diferent data types in python as they are hetrogeneous in nature.

---

***10. Explain why strings are immutable in Python? ***

ans: strings are immutable in nature as it's character can't be altered ones declared.Any operation that appears to modify a string, such as replacing a character or slicing and concatenating, actually creates a new string object in memory. The original string remains unchanged.advantages do dictionaries offr over lits


---


***11.What advantages do dictionaries offer over lists for certain tasks.***

ANs:Dictionaries offer several advantages over lists for certain tasks, primarily due to their key-value structure:

* Efficient Data Retrieval: Dictionaries provide very fast data retrieval based on keys (average O(1) time complexity), whereas accessing elements in a list by value requires searching through the list (average O(n) time complexity). This makes dictionaries ideal for lookups when you know the key.
* Meaningful Data Access: Data in dictionaries is accessed using descriptive keys, which can make code more readable and understandable compared to accessing elements in a list by numerical index.
* Representing Relationships: Dictionaries are excellent for representing data where there is a clear key-value relationship, such as a phone book (name: number) or a person's attributes (name: value).
While lists are great for ordered collections and sequences, dictionaries shine when you need to store and retrieve data based on unique identifiers or labels.

---
***12. Describe a scenario where using a tuple would be preferable over a list.***

ANS: Tuples are preffered over list in situations where the stored value can't be altered like storing adhar number , ATM pin etc. Storing such values in tuple prmotes data intergrity.
* Representing fixed collections: When you have a collection of related items that should remain constant, like the coordinates of a point (x, y) or the days of the week.
* Returning multiple values from a function: Functions often return multiple values as a tuple because it ensures that the returned values are not accidentally modified by the caller.
* Using as dictionary keys: Because tuples are immutable, they can be used as keys in dictionaries, which requires the keys to be hashable (and mutable objects like lists are not hashable).
* Storing heterogeneous data: While lists can also store different data types, tuples are often used for a fixed collection of items with different types, where the position of each item has a specific meaning (like a record in a database).

---

***13. How do sets handle duplicate values in Python?***

ANS: Sets only store unique values so if duplicate values are entered while declaring  a set , the set operation treats all duplicate values as a single entity so in output only unique values are displayed.

---

***14.How does the “in” keyword work differently for lists and dictionaries***

ANS: The `in` keyword is a membership operator in Python. It's used to test if a sequence contains a certain value. However, its behavior is different for lists and dictionaries:

*   **For Lists:** The `in` operator checks if an element exists as a **value** within the list.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)  # Output: True
print(6 in my_list)  # Output: False

*   **For Dictionaries:** The `in` operator checks if an element exists as a **key** within the dictionary. To check for values,  `.values()` method is used

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
print("b" in my_dict)  # Output: True (checks if "b" is a key)
print(2 in my_dict)  # Output: False (checks if 2 is a key, not a value)
print("d" in my_dict)  # Output: False

***15  Can you modify the elements of a tuple? Explain why or why not?***

  ANS Tuples are immutable in nature thus we can't modify elements in a tuple if we did so it gives error.

In [ ]:
a=(1,2,3,4,5,6,7)
print(type(a))
a[0]=7

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

***16  What is a nested dictionary, and give an example of its use case ?***

ans : A dictionary inside a dictionary an be called a a nested dictionary

In [ ]:

nested_dict = {
    "person1": {
        "name": "Alice",
        "age": 30,
        "city": "New York"
    },
    "person2": {
        "name": "Bob",
        "age": 25,
        "city": "London"
    }
}
print(nested_dict)

{'person1': {'name': 'Alice', 'age': 30, 'city': 'New York'}, 'person2': {'name': 'Bob', 'age': 25, 'city': 'London'}}

***17.Describe the time complexity of accessing elements in a dictionary***

ANS The time complexity of accessing elements in a dictionary is, on average,
O(1). This is because dictionaries use a hash table internally, which allows for constant-time lookups.

***18. In what situations are lists preferred over dictionaries?***

ANS:Lists are preferred over dictionaries in situations where:

1. Order matters: Lists maintain the order of elements, while dictionaries do not guarantee any specific order.
2. We need a sequence of elements: Lists are designed for storing and accessing elements by their position (index).
3. we have duplicate elements: Lists can contain duplicate values, whereas dictionaries have unique keys.
4. we are primarily accessing data by index: Accessing elements in a list by index is efficient.
5. we need a simple collection: Lists are simpler data structures compared to dictionaries.

***19. Why are dictionaries considered unordered, and how does that affect data retrieval***

ANS: Dictionaries are considered unordered because we can't access its elements by index,elements in dictionaries are stored in the form of key value pair ,values can be accesed by keys and not indexes thus dictionaries are  conidered unordered.

***20.Explain the difference between a list and a dictionary in terms of data retrieval.***

ANS: In terms of data retrieval elements of a lists can be accessed by indexes where as in case of dictionaries values are accessed with the help of keys and not indexes.

# Practical Questions

***1. Write a code to create a string with your name and print it***

In [ ]:
String1= "JIGYASA"
print(String1)

JIGYASA

*** 2.  Write a code to find the length of the string "Hello World".***

In [ ]:
a="Hello World"
print("length of 'Hello World' = ", len(a))

length of 'Hello World' =  11

*** 3 . Write a code to slice the first 3 characters from the string "Python Programming" .***

**bold text**

In [ ]:
a= "Python Programming"
print(a[0:3])

Pyt

*** 4.  Write a code to convert the string "hello" to uppercase .***

In [ ]:
a= "hello"
print(a.upper())

HELLO

*** 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".***

In [ ]:
a=" I Like Apple"
print(a)
print(a.replace("Apple","Orange"))

 I Like Apple
 I Like Orange

*** 6.  Write a code to create a list with numbers 1 to 5 and print it. ***

In [ ]:
numbers = []
for i in range (1,6):
  numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5]

*** 7. Write a code to append the number 10 to the list [1, 2, 3, 4].***

In [ ]:
list1=[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

*** 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] .***

In [ ]:
list1 = [1,2,3,4,5]
print(list)
list1.remove(3)
print( "list after removing 3 :  ",list1)

['HELLO', 'WORLD']
list after removing 3 :   [1, 2, 4, 5]

*** 9 .Write a code to access the second element in the list ['a', 'b', 'c', 'd'] .***

In [ ]:
list1=['a','b','c','d']
print(list)
print( "accessing second element from the list : " ,list1[1])

['HELLO', 'WORLD']
accessing second element from the list :  b

*** 10. Write a code to reverse the list [10, 20, 30, 40, 50].***

In [ ]:
list1=[10,20,30,40,50]
print(list1)
print("reverse of the list : ",list1[::-1])

[10, 20, 30, 40, 50]
reverse of the list :  [50, 40, 30, 20, 10]

*** 11. Write a code to create a tuple with the elements 100, 200, 300 and print it. ***

In [ ]:
Tuple1 = (100,200,300)
print(Tuple1)

(100, 200, 300)

*** 12. . Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') ***

In [ ]:
Tuple1 = ('red', 'green', 'blue', 'yellow')
for i in range(1,len(Tuple1)):
  print(Tuple1[i])

green
blue
yellow

*** 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).***

In [ ]:
a = (10, 20, 5, 15)
print(min(a))

5

*** 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ***

In [ ]:
a= ('dog', 'cat', 'rabbit')
print(a.index('cat'))

1

***  15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it. ***

In [ ]:
a=('mango',"orange","kiwi")
print("kiwi" in a)

True

*** 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.***

In [ ]:
set1={'a','b','c'}
print(set1)

{'a', 'c', 'b'}

***17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.***

In [ ]:
set1={1,2,3,4,5}
print(set1)
set1.clear()
print(set1)

{1, 2, 3, 4, 5}
set()

*** 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
a={1,2,3,4}
print(a)
a.remove(4)
print(a)

{1, 2, 3, 4}
{1, 2, 3}

*** 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.***

In [ ]:
set1 ={1,2,3}
set2 ={3,4,5}
print("set 1 :", set1)
print("set 2:" , set2)
print("union of set 1 and set 2 :", set1.union(set2))

set 1 : {1, 2, 3}
set 2: {3, 4, 5}
union of set 1 and set 2 : {1, 2, 3, 4, 5}

*** 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.***

In [ ]:
set1 ={1,2,3}
set2 ={3,4,5}
print("set 1 :", set1)
print("set 2:" , set2)
print("union of set 1 and set 2 :", set1.intersection(set2))

set 1 : {1, 2, 3}
set 2: {3, 4, 5}
union of set 1 and set 2 : {3}

*** 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.***

In [ ]:
dict1={'name': "jigyasha","age":22,"city" : "raigarh"}
print(dict1)

{'name': 'jigyasha', 'age': 22, 'city': 'raigarh'}

*** 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.***

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

***23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.***

In [ ]:
 dictionary1= {'name': 'Alice', 'age': 30}
 print(dictionary1["name"])

Alice

*** 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.***

In [ ]:
dict2={'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dict2)
dict2.pop('age')
print(dict2)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

*** 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.***

In [ ]:
dict3={'name': 'Alice', 'city': 'Paris'}
print('city' in dict3.keys())

True

***26. Write a code to create a list, a tuple, and a dictionary, and print them all.***

In [ ]:
list1=[1,2,3,4,5]
Tuple1=(1,2,3,4,5)
dict1={'name': "jigyasha","age":22,"city" : "raigarh"}
print(list1)
print(Tuple1)
print(dict1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'jigyasha', 'age': 22, 'city': 'raigarh'}

***27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print result.(replaced)***

In [ ]:
import random
list1=[]
for i in range(5):
  list1.append(random.randint(1,100))
print(list1)
list2 =list1.sort()
list2=list1
print(list1)

[83, 2, 75, 28, 17]
[2, 17, 28, 75, 83]

***28. Write a code to create a list with strings and print the element at the third index.***

In [ ]:
my_string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_string_list[3])
#or
a='jigyasha'
b=list(a)
print(b)
print("third element of the list :",b[3])

date
['j', 'i', 'g', 'y', 'a', 's', 'h', 'a']
third element of the list : y

***29.Write a code to combine two dictionaries into one and print the result.***

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict2.update(dict1)
print(dict2)

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

*** 30. Write a code to convert a list of strings into a set.***

In [ ]:
my_string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(set(my_string_list))

{'banana', 'cherry', 'apple', 'elderberry', 'date'}