<a href="https://colab.research.google.com/github/Jigyasha17/Assingments/blob/main/basics_01_(5_th_july).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5 th july live class lecture notes

In [ ]:
#calculator
a=int(input('enter first number'))
b=int(input('enter second number'))
print('sum is',a+b)
print('difference is',a-b)
print('product is', a*b)
print('quotient is',a/b)
print('remainder is',a%b)
print('power is',a**b)
print('floor division is',a//b)

enter first number10
enter second number3
sum is 13
difference is 7
product is 30
quotient is 3.3333333333333335
remainder is 1
power is 1000
floor division is 3

In [ ]:
# temperature converter
a=int(input('enter temperature in celsius  '))
print('temperature in fahrenheit is  ',a*9/5+32)

enter temperature in celsius  95
temperature in fahrenheit is   203.0

In [ ]:
#BMI calculator
weight=float(input('enter the weight in kg '))
height=float(input('enter the height  in m '))
print('BMI is  ',weight/(height**2))

enter the weight in kg 65.5
enter the height  in m 1.70
BMI is   22.6643598615917

In [ ]:
#area of a circle
radius=float(input('enter the radius  '))
print('area of the circle is  ',3.14*radius**2)
#

enter the radius  2
area of the circle is   12.56

In [ ]:
# age in days
age=int(input('enter the age  '))
print('age in days is ',age*365)

enter the age  22
age in days is  8030

String- sequence of characters or anything stored in enclosed in single or double codes.

comments -comments are notes in code that python ignores while execution


1.   single line comment-#
2.   multiline comments -'''

In [ ]:
print('hello world')# method 1
a='my name is jigyasa' # method 2
print(a)
print('hello ' + 'world')

hello world
my name is jigyasa
hello world

print statements

1.   print('hello world')
2.   creating a variable and storing it i.e using variables
3.   using f string - f string is a special way to create strings that can include variable and expressions directly inside curly braces
4.  using dot format - a dot format i a string method  used to insert variables and values inside a string . its a placeholder {} inside  your string then call .format() with value you want to put into those placeholder

In [ ]:
#dot format method
name='jigyasa'
age=22
print('my name is {} and my age is {}'.format(name,age))

my name is jigyasa and my age is 22

In [ ]:
item='pen'
cost='10'
print ('the pen cost 10 rs') #mehod1
print ('the',item,'cost',cost,'rs') # method 4
print('the {} cost {} rs'.format(item,cost)) # method 2
print(f'the {item} cost {cost} rs')# method 3

the pen cost 10 rs
the pen cost 10 rs
the pen cost 10 rs
the pen cost 10 rs

In [ ]:
name='jigyasa'
age=22
print(f'my name is {name} and my age is {age}') # method 3

my name is jigyasa and my age is 22

In [ ]:
price=50
quantity=5
print(f'total price is {price*quantity}')

total price is 250

In [ ]:
num1=5
num2=3
print(f'sum of {num1} and {num2} is {num1+num2}')

sum of 5 and 3 is 8

VARIABLES = are memory locationss where a data is stored


memory location=id(variable name)

In [ ]:
a=25
id(a) # memory loaction

10758504

In [ ]:
#keywords= keyword are special reserved words in python , each keywords have a special meaning and are  used to define a syntax in code thus cannot be used as variable names

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']